/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


body {
    margin-top: 75px;
    font-size: 30px;
    line-height: 1.5;
    font-family: 'arno-pro', Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", "Times New Roman", Times, serif;

    color: #231F20;
    background-color: #EEE;
}

a {
    color: #9E4130;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

p {
    margin: 1.1em 0;
}

.main_grid {
    max-width: 500px;
    margin: 0 auto;
    padding: 0 20px;
}

textarea {
    width: 100%;
    height: 500px;
    font-size: 20px;
    font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
}

[data-behavior~='tipsy']:hover {
    background-color: #CCC;
    cursor: pointer;
}

.edit {
    position: fixed;
    top: 40px;
    right: 100px;
}

@media (max-width: 767px) {
    .edit {
        top: 10px;
        right: 10px;
    }
}